* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.logo {
    width: 5%;
}

.copao {
    width: 45%;
    position: relative;
    transition: 200ms;
}

.copao:hover {
    animation: pulse 0.7s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

body {
    padding-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
}

.conteudo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.texto {
    width: 50%;
}

h1 {
    color: #333333;
    font-size: 350%;
    font-weight: bold;
}

span {
    color: #017143;
}

p {

    font-size: 100%;
}

button {
    background-color: #017143;
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: 250ms;
}

button:hover {
    background-color: #005733;
    animation: tremer 0.13s 3;
}

@keyframes tremer {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-15deg);
    }

    50% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-15pxdeg);
    }

    99% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0);
    }
}

.caixa-imagem {

    width: 44%;
    display: flex;
    justify-content: flex-end;

}

.menu {
    display: flex;
    justify-content: center;
    overflow: visible;
    padding-bottom: 10px;
}

.botao-menu {
    width: 4.5%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: 500ms;

}

.botao-menu:hover {
    scale: 1.3;
    transform: rotate(-15deg);
}

.botao-menu:active {
    scale: 0.9;
    transition: 200ms;
}

.circulo {
    background-color: #005733;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    clip-path: circle(40% at 100%);
    z-index: -1;
    transition: 1s;
}